In [117]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as stat

# 2.1. Problem Statement: STATISTICS 1

1. You survey households in your area to find the average rent they are paying. Find
the standard deviation from the following data:
$1550, $1700, $900, $850, $1000, $950.
2.

In [118]:
arr = [1550, 1700, 900, 850, 1000,950]

In [122]:
print("Using manual calculation\n")
a=np.mean(arr)
b=0
for i in arr:
    b=b+(((a-i)**2)/(len(arr)-1))
print("standard deviation is",b**.5)

Using manual calculation

standard deviation is 367.99003609699366

2. Find the variance for the following set of data representing trees in California
(heights in feet):
3, 21, 98, 203, 17, 9

In [120]:
arr1=[3, 21, 98, 203, 17, 9]

In [121]:
print("Using manual calculation\n")
a=np.mean(arr1)
b=0
for i in arr1:
    b=b+(((a-i)**2)/(len(arr1)-1))
print("variance is ",b)

Using manual calculation

variance is  6219.9

3. In a class on 100 students, 80 students passed in all subjects, 10 failed in one
subject, 7 failed in two subjects and 3 failed in three subjects. Find the
probability distribution of the variable for number of subjects a student from
the given class has failed in.

In [91]:
a=80/100
b=10/100
c=7/100
d=3/100
print("The probability of failing in 0 subjects",a)
print("The probability of failing in 1 subjects",b)
print("The probability of failing in 2 subjects",c)
print("The probability of failing in 3 subjects",d)

The probability of failing in 0 subjects 0.8
The probability of failing in 1 subjects 0.1
The probability of failing in 2 subjects 0.07
The probability of failing in 3 subjects 0.03

# 2.2. Problem Statement: STATISTICS 2

1. A test is conducted which is consisting of 20 MCQs (multiple choices questions)
with every MCQ having its four options out of which only one is correct.
Determine the probability that a person undertaking that test has answered
exactly 5 questions wrong.

In [44]:
from scipy.stats import binom

In [46]:
print("probability of exactly 5 questions wrong : ",binom.pmf(5, 20, .75))

probability of exactly 5 questions wrong :  3.4264958230778435e-06

Manual way of calculation

In [55]:
import math 
a=math.factorial(20)
b=math.factorial(5)
c=math.factorial(15)
d=a/(b*c)
print("probability of exactly 5 questions wrong : ",d*(3/4)**5*(1/4)**15)

probability of exactly 5 questions wrong :  3.4264958230778575e-06

2. A die marked A to E is rolled 50 times. Find the probability of getting a
“D” exactly 5 times.

In [54]:
print("probability of “D” exactly 5 times. : ",binom.pmf(5, 50, 1/5))

probability of “D” exactly 5 times. :  0.029531204310523224

Manual way

In [49]:
import math 
a=math.factorial(50)
b=math.factorial(5)
c=math.factorial(45)
d=a/(b*c)

In [51]:
print("probability of “D” exactly 5 times. : ",d*(1/5)**5*(4/5)**45)

probability of “D” exactly 5 times. :  0.029531204310524296

3. Two balls are drawn at random in succession without replacement from an urn
containing 4 red balls and 6 black balls.
Find the probabilities of all the possible outcomes.

In [58]:
print("probability getting two  red balls",(4/10)*(3/9))
print("probability getting two  black balls",(6/10)*(5/9))
print("probability getting one black and one red",(4/10)*(6/9)+(6/10)*(4/9))

probability getting two  red balls 0.13333333333333333
probability getting two  black balls 0.3333333333333333
probability getting one black and one red 0.5333333333333333

# 2.3. Problem Statement: STATISTICS 3

Blood glucose levels for obese patients have a mean of 100 with a standard deviation
of 15. A researcher thinks that a diet high in raw cornstarch will have a positive
effect on blood glucose levels. A sample of 36 patients who have tried the raw
cornstarch diet have a mean glucose level of 108. Test the hypothesis that the raw
cornstarch had an effect or not.

** H0 : Mean =100 
   H1 : Mean not equal 100**

In [63]:
SD=15/(36)**.5
SD

2.5

In [71]:
z=(108-100)/2.5
z

3.2

In [80]:

1-(stat.norm.cdf(3.2)-stat.norm.cdf(-3.2))

0.0013742758758317208

probability of getting H0 coming under critical region (5%)  we can reject null hypothesis

1. In one state, 52% of the voters are Republicans, and 48% are Democrats. In a
second state, 47% of the voters are Republicans, and 53% are Democrats.
Suppose a simple random sample of 100 voters are surveyed from each state.
What is the probability that the survey will show a greater percentage of
Republican voters in the second state than in the first state?

In [115]:
p1=.52
p2=.47
print("P1 = the proportion of Republican voters in the first state",p1)
print("P2 = the proportion of Republican voters in the second state",p2)
n1=100
n2=100
print("The number of voters sampled from the first state (n1) =", n1)
print("the number of voters sampled from the second state (n2) =",n2)
print("Mean of the difference in sample proportions:", p1-p2)
print("standard deviation of the difference:", (((p1*(1-p1))/n1)+((p2*(1- p2))/n2))**.5)
print("Z score of p1-p2", (0-.05)/.0706)
print("probability for z score -0.70821 or less(from normal disribution table)",.24)
print(" The probability that the survey will show a greater percentage of Republican voters in the second state than in the first state is 0.24.")

P1 = the proportion of Republican voters in the first state 0.52
P2 = the proportion of Republican voters in the second state 0.47
The number of voters sampled from the first state (n1) = 100
the number of voters sampled from the second state (n2) = 100
Mean of the difference in sample proportions: 0.050000000000000044
standard deviation of the difference: 0.07061869440877536
Z score of p1-p2 -0.708215297450425
probability for z score -0.70821 or less(from normal disribution table) 0.24
 The probability that the survey will show a greater percentage of Republican voters in the second state than in the first state is 0.24.

2. You take the SAT and score 1100. The mean score for the SAT is 1026 and the
standard deviation is 209. How well did you score on the test compared to the
average test taker?

Calculating the z -Score for the given population and sample.

In [1]:
z=(1100-1026)/209
z

0.35406698564593303

This means that your score was .354 std devs above the mean.

# 2.4. Problem Statement: STATISTICS 4

1. Is gender independent of education level? A random sample of 395 people were
surveyed and each person was asked to report the highest education level they
obtained. The data that resulted from the survey is summarized in the
following table:
High-School Bachelor Masters Ph.D. Total
Female 60 54 46 41 201
Male 40 44 53 57 194
Total 100 98 99 98 395
Question: Are gender and education level dependent at 5% level of
significance? In other words, given the data collected above, is there a
relationship between the gender of an individual and the level of education
that they have obtained?

H0  :  There is no relationship between gender of an individual and the level of education
Ha  :  Gender of an individual and the level of education depends

In [10]:
a=(100*201)/395
b=(98*201)/395
c=(99*201)/395
d=(98*201)/395
e=(100*194)/395
f=(98*194)/395
g=(99*194)/395
h=(98*194)/395

In [11]:
print("Excepted value Female : High school = " ,a)
print("Excepted value Female : Bachelors   = " ,b)
print("Excepted value Female : Masters     = " ,c)
print("Excepted value Female : Ph.d.       = " ,d)
print("Excepted value Male   : High school = " ,e)
print("Excepted value Male   : Bachelors   = " ,f)
print("Excepted value Male   : Masters     = " ,g)
print("Excepted value Male   : Ph.d.       = " ,h)

Excepted value Female : High school =  50.88607594936709
Excepted value Female : Bachelors   =  49.868354430379746
Excepted value Female : Masters     =  50.37721518987342
Excepted value Female : Ph.d.       =  49.868354430379746
Excepted value Male   : High school =  49.11392405063291
Excepted value Male   : Bachelors   =  48.131645569620254
Excepted value Male   : Masters     =  48.62278481012658
Excepted value Male   : Ph.d.       =  48.131645569620254

In [14]:
Chi_Square=(60-a)**2/a+(54-b)**2/b+(46-c)**2/c+(41-d)**2/d+(40-e)**2/e+(44-f)**2/f+(53-g)**2/g+(57-h)**2/h
Chi_Square

8.006066246262538

The critical value of Chi_Square with 3 degree of freedom is 7.815.
Chi_Square > 7.815.
So we can reject null hypothesis (5% sig.).Means Gender of an individual and the level of education depends.

2. Using the following data, perform a one-way analysis of variance using α=.05.
Write up the results in APA format.
[Group1: 51, 45, 33, 45, 67]
[Group2: 23, 43, 23, 43, 45]
[Group3: 56, 76, 74, 87, 56]

In [15]:
Group1=[51, 45, 33, 45, 67]
Group2=[23, 43, 23, 43, 45]
Group3=[56, 76, 74, 87, 56]

In [35]:
a=0
for i in Group1:
    print("Group 1: Value = {} mean= {} deviation = {} Sq.of deviation = {}".format(i,np.mean(Group1),i-np.mean(Group1),(i-np.mean(Group1))**2))
    a=a+(i-np.mean(Group1))**2

Group 1: Value = 51 mean= 48.2 deviation = 2.799999999999997 Sq.of deviation = 7.839999999999984
Group 1: Value = 45 mean= 48.2 deviation = -3.200000000000003 Sq.of deviation = 10.240000000000018
Group 1: Value = 33 mean= 48.2 deviation = -15.200000000000003 Sq.of deviation = 231.04000000000008
Group 1: Value = 45 mean= 48.2 deviation = -3.200000000000003 Sq.of deviation = 10.240000000000018
Group 1: Value = 67 mean= 48.2 deviation = 18.799999999999997 Sq.of deviation = 353.4399999999999

In [36]:
b=0
for i in Group2:
    print("Group 2: Value = {} mean= {} deviation = {} Sq.of deviation = {}".format(i,np.mean(Group2),i-np.mean(Group2),(i-np.mean(Group2))**2))
    b=b+(i-np.mean(Group2))**2

Group 2: Value = 23 mean= 35.4 deviation = -12.399999999999999 Sq.of deviation = 153.75999999999996
Group 2: Value = 43 mean= 35.4 deviation = 7.600000000000001 Sq.of deviation = 57.76000000000002
Group 2: Value = 23 mean= 35.4 deviation = -12.399999999999999 Sq.of deviation = 153.75999999999996
Group 2: Value = 43 mean= 35.4 deviation = 7.600000000000001 Sq.of deviation = 57.76000000000002
Group 2: Value = 45 mean= 35.4 deviation = 9.600000000000001 Sq.of deviation = 92.16000000000003

In [42]:
c=0
for i in Group3:
    print("Group 3: Value = {} mean= {} deviation = {} Sq.of deviation = {}".format(i,np.mean(Group3),i-np.mean(Group3),(i-np.mean(Group2))**2))
    c=c+(i-np.mean(Group3))**2

Group 3: Value = 56 mean= 69.8 deviation = -13.799999999999997 Sq.of deviation = 424.36000000000007
Group 3: Value = 76 mean= 69.8 deviation = 6.200000000000003 Sq.of deviation = 1648.3600000000001
Group 3: Value = 74 mean= 69.8 deviation = 4.200000000000003 Sq.of deviation = 1489.96
Group 3: Value = 87 mean= 69.8 deviation = 17.200000000000003 Sq.of deviation = 2662.56
Group 3: Value = 56 mean= 69.8 deviation = -13.799999999999997 Sq.of deviation = 424.36000000000007

In [39]:
a

612.8

In [40]:
b

515.2

In [43]:
c

732.8

In [44]:
V1=a/4
V2=b/4
V3=c/4

In [45]:
MSerror = (V1+V2+V3)/3
MSerror

155.06666666666666

In [47]:
DFerror= 15-3
DFerror

12

In [49]:
SSerror = DFerror*MSerror
SSerror

1860.8

In [51]:
Mn=[np.mean(Group1),np.mean(Group2),np.mean(Group3)]
Mn

[48.2, 35.4, 69.8]

In [52]:
d=0
for i in Mn:
    print("Group Mean: Grand Mean = {} mean= {} deviation = {} Sq.of deviation = {}".format(i,np.mean(Mn),i-np.mean(Mn),(i-np.mean(Mn))**2))
    d=d+(i-np.mean(Mn))**2

Group Mean: Grand Mean = 48.2 mean= 51.133333333333326 deviation = -2.933333333333323 Sq.of deviation = 8.604444444444383
Group Mean: Grand Mean = 35.4 mean= 51.133333333333326 deviation = -15.733333333333327 Sq.of deviation = 247.5377777777776
Group Mean: Grand Mean = 69.8 mean= 51.133333333333326 deviation = 18.66666666666667 Sq.of deviation = 348.4444444444446

In [55]:
Vmn=d/2
MSbetween=(Vmn)*(5)
MSbetween

1511.4666666666665

In [56]:
SSgroup =MSbetween *2
SSgroup

3022.933333333333

In [57]:
F=MSbetween/MSerror
F

9.747205503009457

We can reject the null hypothesis since F critical is 3.89

In [63]:
η2=SSgroup/(SSgroup+SSerror)
η2

0.61898001528885

In [62]:
print("APA Format : F(2, 12)=9.75, p <0.05, η2=0.62.")

APA Format : F(2, 12)=9.75, p <0.05, η2=0.62.

3. Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
For 10, 20, 30, 40, 50:

In [78]:
A=[10, 20, 30, 40, 50]
B=[5,10,15, 20, 25]
Amean=np.mean(A)
Bmean=np.mean(B)
Avar=0
for i in A:
    Avar=Avar+(((Amean-i)**2)/(len(A)-1))
print("Variance of A ",Avar)
Bvar=0
for i in B:
    Bvar=Bvar+(((Bmean-i)**2)/(len(B)-1))
print("Variance of B ",Bvar)
print("F value is ",Avar/Bvar)

Variance of A  250.0
Variance of B  62.5
F value is  4.0